.buttons_field {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .notifications_field {
    border-left: 2px solid rgb(98, 145, 255);
    padding-block: 20px;
  }